@mixin backgroundConfig() {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin icons($img) {
  display: inline-block;
  background-image: url($img);
  @include backgroundConfig();
  min-width: 3.5rem;
  min-height: 3.5rem;
}
